{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <div class="row">
      {% for feed in feeds %}
        {% include 'home/feed.html.twig' %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
