textarea#feed_body {
    height: 300px;
}

.fz-12 {
    font-size: 12px;
}

#feed_publishedAt select {
    margin-right: 10px;
}

#feed_publishedAt select#feed_publishedAt_time_hour {
    margin-right: 0px;
}

footer {
    height: 200px;
}